body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif, Helvatica;
	color: #eaeaea;
}

/*container of the entire page*/
.container{
	width: 100%;
	height: 100vh;
	background: grey;
	display: flex;
}

/*Top Section of the main contend and sidebar*/
.top-section{
	height: 50px;
	background-color: #37819b;
}

/*Sidebar*/
.sidebar{
	width: 220px;
	height: 100%;
	background-color: #1d2128;
	transition: 0.5s;
}

/*Hides the sidebar*/
.hide-menu{
	width: 0;
	transform: translateX(-220px);
}

.sidebar .top-section h4{
	padding: 0 1.5em;
	margin: 0;
	line-height: 50px;
}

.sidebar .profile{
	padding: 1em 1em;
	display: flex;
	justify-content: space-around;
}

.sidebar .profile img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid #fff;
}

.sidebar .profile .name{
	font-size: 12px;
	margin: 0;
	line-height: 60px;
}

.sidebar nav{
	/*padding: 0 1em;*/
}

.sidebar .nav-title{
	text-align: center;
	margin: 0;
	padding: 1.5em 0;
	color: #a0a5a5;
	background-color: #0a0e16;
	cursor: default;
}

/*navigation - accordion*/
.accordion-nav{
	width: 100%;
	height: calc(100% - 230px);
	background-color: #1d2128;
	position: relative;
	overflow-y: scroll;
}

.accordion-nav::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.accordion-nav::-webkit-scrollbar-track {
  background-color: #1d2128;
}
 
/* Handle */
.accordion-nav::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.accordion-nav::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.accordion-nav a{
	color: #fff;
	text-decoration: none;
}

.accordion-nav .item{
	/*position: relative;*/
}

.accordion-nav .arrow{
	position: absolute;
	width: 18px;
	height: 18px;
	transform:translateX(5px) translateY(28px) rotate(45deg);
	background-color: #1d2128;
}

.accordion-nav .item .item-title{
	display: block;
	padding: 10px;
}

.accordion-nav .item .sub-menu{
	background-color: #121419;
	overflow: hidden;
	transition: 0.8s;
}

/*hides sub-menu for initial display*/
.accordion-nav .item .hide-sub{
	max-height: 0;
}

/*accordion nav icons' layout*/
.accordion-nav .item .title-cont{
	display: flex;
}

.accordion-nav .item .title-cont .icon{
	margin: 6px 1em 0 auto;
}

.accordion-nav .item .title-cont .icon{
	width: 23px;
	height: 23px;
  	-webkit-mask-size: cover;
  	mask-size: cover;
  	background-color: #0ca8cc; 
}

.icon:hover{
  	background-color: #0a7891; 
}

/*accordion nav icons*/
.sales-icon{
	-webkit-mask: url('../img/cashier-1.svg') no-repeat 50% 50%;
}

.dashboard-icon{
	-webkit-mask: url('../img/time-passing.svg') no-repeat 50% 50%;
}

.stock-icon{
	-webkit-mask: url('../img/box.svg') no-repeat 50% 50%;
}

.supplier-icon{
	-webkit-mask: url('../img/delivery-cart.svg') no-repeat 50% 50%;
}

.payment-icon{
	-webkit-mask: url('../img/get-money.svg') no-repeat 50% 50%;
}

.customer-icon{
	-webkit-mask: url('../img/basket-2.svg') no-repeat 50% 50%;
}

.pending-icon{
	-webkit-mask: url('../img/money.svg') no-repeat 50% 50%;
}
		
.outstanding-icon{
	-webkit-mask: url('../img/folder-1.svg') no-repeat 50% 50%;
}

.report-icon{
	-webkit-mask: url('../img/presentation-15.svg') no-repeat 50% 50%;
}

/*open sub-menu*/
.drop-sub-menu{
	padding-top: 15px;
	max-height: 20em;
}

.accordion-nav .item .sub-menu *{
	display: block;
	font-size: 14px;
	padding: 10px 10px 10px 20px;
	background-color: #121419;
	position: relative;
}

/*.accordion-nav .item:hover .arrow{
	display: none;
}*/

/*.accordion-nav .item:hover{
	background-color: #111;
	
}	*/

.accordion-nav .item .sub-menu *:hover{
	background-color: #111;
}

.accordion-nav .item .active{
	background-color: #111;
}

.accordion-nav .nav-footer{
	width: 100%;
	height: 20px;
	text-align: center;
	font-size: 12px;
}

.main{
	width: calc(100% - 220px);
	height: 100%;
	background-color: #f9f9f9;
	transition: 0.5s;
}

/*Main container*/
.main-toggled{
	width: 100%;
}

.main .top-section{
	width: 100%;
	display: flex;
}

.main .top-section .hbg-menu{
	font-size: 50px;
	line-height: 50px;
	padding: 0 1rem;
	cursor: pointer;
}

.main .top-section .hbg-menu:hover{
	background-color: #2b6377;
}

.main .top-section .comp-name{
	padding: 0 1.5em;
	margin: 0;
	line-height: 50px;
	transform: translateY(-50px);
	transition: 0.5s;
}

.show-name{
	padding: 0 1.5em;
	margin: 0;
	line-height: 50px;
	transform: translateY(0);
	transition: 0.5s;
	cursor: default;
	transition-delay: 0.8s;
}

.main-content{
	padding: 5px 20px;
	color: #333;
	background-color: #eaeaea;
}

.main-content .main-title h4{
	margin: 0 0 0 0;
	padding: 0.5em 0;
}


/*Tables*/

table{
  margin: 0 auto;
  font-family: arial;
  border-collapse: collapse;
  border:1px grey solid;  
  width: 100%;
  height: 10%;
  max-height: 10%;
  overflow-y: scroll;
}

tbody {
    display:block;
    overflow-y:scroll;
    overflow-x: hidden;
    max-height: 400px;
}

thead, tbody tr {
    display:table;  
    width:100%;
    table-layout:fixed;
}

thead {
    width: calc( 100% - 1em );
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    font-size: 12px;
    padding: 5px;
    overflow-x: hidden;
}

input{
	border-radius: 5px;
	padding: 0.5em;
	border: 0.5px #adadad solid;
	/*border-right: 0;*/
	outline: none;
}

/*Tabs .cont-tabs*/

 .cont-tabs{
	margin-left: auto;
	display: flex;
}

.cont-tabs .tab{
	padding: 0 10px;
	height: 100%;
	line-height: 45px;
	cursor: pointer;
}

.cont-tabs .tab .indicator{
	width: calc(100% + 20px);
	height: 5px;
	/*background-color: green;*/
	transform: translateX(-10px);
	transition: 0.3s;
}

 .cont-tabs .tab:hover .indicator,
 .cont-tabs .tab .indicator:hover{
	background-color: green;
}

/*Selected / active tabs*/

.active{
	background-color: #121419;
}

.active-top{
	background-color: green;
}

/*Scrollabe Container*/

.scroll-container{
	position: relative;
	width: calc(100% - 1.5 em);
	/*background-color: red;*/
	padding: 0 1.5em;
	overflow-y: scroll;
}

.scroll-container .scroll-content{
	width: 100%;
	height: 40px;
	margin: 5px 0;
	background-color: #eaeaea;
	cursor: pointer;
	text-align: center;
}

.scroll-container .scroll-content .title{
	margin: 0;
	line-height: 40px;
	font-size: 15px;
}

.scroll-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.scroll-container::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}